/* Tabs样式 */
.at-tabs {
  &__header {
    background-color: #fff;
  }
  
  &__item {
    color: #666;
    
    &--active {
      color: var(--primary-color);
    }
    
    &-underline {
      background-color: var(--primary-color);
    }
  }
  
  &-pane {
    &__item {
      padding: 20px;
    }
  }
} 