/* Button样式 */
.at-button {
  /* 自定义样式可以在这里添加 */
  &--primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
  
  &--secondary {
    background-color: #fff !important;
    border: 1px solid #dcdfe6 !important;
    color: #606266 !important;
  }
} 