/* Button样式 */
.at-button {
  position: relative;
  
  &--primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;

    &::after {
      border: none !important;
    }

    &.at-button--disabled {
      opacity: 0.6;
      background-color: var(--primary-color) !important;
    }
  }
  
  &--secondary {
    background-color: #fff !important;
    border: 1px solid #dcdfe6 !important;
    color: #606266 !important;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid black;
    border-radius: 48px;
  }
  
  /* 自定义主题色按钮样式 */
  &.custom-primary {
    background-color: var(--button-primary-color) !important;
    border-color: var(--button-primary-color) !important;
    color: #fff !important;
  }
} 